// background-color
$bg-color: rgb(246, 246, 246);
$hdr-bg-color:rgba(255, 255, 255, 0.2);
$ftr-bg-color: rgb(128, 179, 128);
//text-color
$txt-color: rgb(36, 34, 34);
$hdr-txt-color: rgb(255, 255, 255);
$scn-txt-color: rgb(97, 135, 216);